@media (max-width: 600px){
  /*NAV*/
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 4rem 0 4rem 1rem;  
  }
  #logo img {   
    width: 60px;
    height: 70px;
    
  }
  svg {     
    max-width: 24.3rem;
  }
  .foto-perfil {
    border-radius: 50%;
    display: flex;
    margin: 6rem auto 0; 
    position: relative; 
    width: 130px;
    height: 130px; 
  }
  /*SOBRE*/
.principal p {	
  margin-left: 0rem;	
}
  .separador {
    height: 38rem;
    margin-top: 5rem;    
}

/*CONHECIMENTOS*/
.conhecimentos img {
  width: 60px;
  height: 60px;
}
.cards-conhecimentos {  
  width: 6rem;
  height: 6rem;
}
/*PROJETOS*/
.gallery {
  margin:0 50rem 0 0;
}
.item {
  opacity: 1;
}
.current-item {  
  border: none; 
}
.projetos {
  padding: 15px 22px 15px 15px;
  max-width: 640px;
}
.arrow-left {
left: -0.5rem;
}
.arrow-right {
  right: 0.5rem;
  }

/*MENU MOBILE*/
#header {
  box-sizing: border-box;
  height: 130px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu {
    display: block;
    list-style: none;
    gap: 0.5rem;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;   
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(41vh - 70px);
    visibility: visible;
    overflow-y: auto;
    background: rgb(21, 22, 27);       
  }
  .nav-bar ul{
    margin-right: 2rem;
  }
  .nav-bar ul li a {    
    float: none;        
  }
  #menu a {
    display: block;   
    padding: 1rem 0;   
    margin: 0 3rem;   
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    color: #e7e7e7;    
    border-bottom: 1px solid rgb(50, 33, 78);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: #ffffff;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }  
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .contato-direto, .icones-redes-sociais {  
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;  
  }
}

@media (max-width: 360px){
  /*MENU*/
  #nav.active #menu {
    height: calc(50vh - 70px);
  }
}



